.user-list_container {
  padding: 3rem 0;
  width: 420px;
}

.user-list_title {
  color: var(--text-color);
  text-align: center;
}

.user-list :nth-child(1 of .user-card_container) {
  box-shadow: none;
}

.rollback-container {
  position: absolute;
  top: 82%;
  margin-left: 15%;
}

.rollback-button {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--warning-background);
  color: var(--warning-text);
  border-radius: 50%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 0.125rem 0.3rem rgba(92, 21, 0, 0.15);
  border: none;
}

.rollback-button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
