.import-users_container {
  background-color: var(--secondary-accent);
  position: absolute;
  top: 20%;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
